<%- include ('header') %>


    <!-- content contact -->
    <div class="content-contact text-center mt-5">        
        <div class="container">
            <div class="row">
                <div class="col-sm-12 big-title text-center">
                    <h3 class="mb-5 wow animate__lightSpeedInLeft" data-wow-duration="2s" style="font-family: var(--font-title); font-size: var(--size-title);">Contact Us</h3>
                </div>
            </div>
            <div style="transition-delay: 0.2s; visibility: hidden;" class="row wow animate__fadeInUpBig" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="col-sm-4 text-sm-center">
                    <p>VISIT US <br> <br>
                        100 Ho Chi Minh City <br>
                        
                        District 2 <br>
                        
                        123-456-7890</p>
                </div>
                <div class="col-sm-4 text-sm-center">
                    <p>OPENING HOURS <br> <br>
                        Mon - Fri: 7am - 10pm <br>
                        
                        ​​Saturday: 8am - 10pm<br>
                        
                        ​Sunday: 8am - 11pm</p>
                </div>
                <div class="col-sm-4 text-sm-center">
                    <p>CUSTOMER SERVICE<br><br>
                        1-800-000-000<br>
                        
                        123-456-7890<br>
                        
                        info@my-domain.com</p>
                </div>
            </div>
        </div>        
        <div class="question">
            <div class="form-group">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h3 class="mb-5 mt-5">FOR ANY QUESTIONS, PLEASE SEND US A MESSAGE</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control"  placeholder="Name">
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control"  placeholder="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="form-control mt-2"  placeholder="Subject">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <input class="form-control mt-2" style="height: 100px; padding-bottom: 70px;"  placeholder="Message">
                        </div>
                        <button type="submit" class="btn btn-outline-secondary nut ml-auto mr-auto mt-4">Submit</button>
                    </div>
                </div>           
            </div>
        </div>
    </div>
    <!-- end contact -->
<%- include ('footer') %>