    <%- include ('header') %>
<!-- sign up -->
    <div class="sign-up wow animate__bounceInDown" data-wow-duration="2s" style="visibility: hidden;">
        <a style="color: black;" href="/" class="hide">
        <span>+</span></a>  
        <h2>Sign Up</h2>
        <span>Already a member? <a class="link-login" href="/login">Log In</a></span>
        <a href="" class="btn btn-primary google-login">
        <img src="./images/google.png" alt="">
        <span>Sign up with Google</span></a>
        <a href="" class="btn btn-info facebook-login">
        <img src="./images/facebook.png" alt="">
        <span>Sign up with Facebook</span></a>
        <hr>
        <span style="position: absolute;
        top: 401px;
        background-color: white;
        width: 50px;
        left: 50%;
        margin-left: -25px;">or</span>
        <a href="" class="btn btn-outline-secondary">Sign up with email</a>        
    </div>
    <!-- end sign up -->
    <%- include ('footer') %>